.app {
  text-align: center;
  font-size: 2em;
}

.page-title {
  font-family: Enchanted Land;
  color: #cf291d;
  font-size: 3.5em;
  line-height: 80%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#difficulty-text {
  font-size: 2.2rem;
}

.trivial-text,
.easy-text,
.medium-text,
.hard-text,
.deadly-text {
  font-weight: bold;
}

.trivial-text {
  color: #fff30f;
}

.easy-text {
  color: #4f873d;
}

.medium-text {
  color: #185adb;
}

.hard-text {
  color: #ff6f00;
}

.deadly-text {
  color: #cf291d;
}

@media only screen and (max-width: 800px) {
  .page-title {
    font-size: 2.5em;
  }

  .app {
    font-size: 1.5em;
  }

  #difficulty-text {
    font-size: 2rem;
  }
}
