.input-field {
  margin: 5px;
  line-height: 25px;
  border: 2px solid #CF291D;
  border-radius: 5px;
  background-color: #BFBFBF;
  color: #1D1D1D;
  font-weight: bold;
  font-family: Dungeon;
  font-size: 25px;
}

.input-field::placeholder {
  color: #131313;
  font-family: Dungeon;
}

.input-field:focus {
  outline: none;
  border-color: #B50717;
  box-shadow: 0 0 10px #fff30f;
}
