.input-field {
  margin: 5px;
  line-height: 25px;
  border: 2px solid #cf291d;
  border-radius: 5px;
  background-color: #bfbfbf;
  color: #1d1d1d;
  font-weight: bold;
  font-family: Dungeon;
  font-size: 25px;
}

.input-field::placeholder {
  color: #131313;
  font-family: Dungeon;
}

.input-field:focus {
  outline: none;
  border-color: #b50717;
  box-shadow: 0 0 10px #fff30f;
}

.dropdown-inputs {
  display: inline-flex;
}
