#monsters-table,
#enemies-table {
  background-color: #bfbfbf;
  color: #131313;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  width: 50%;
  box-shadow: 0 0 10px #fff30f;
}

#monsters-table td,
#enemies-table td {
  border: 1px solid #1d1d1d;
}

#monsters-table td:last-child,
#enemies-table td:last-child {
  border: none;
}

td {
  border-radius: 5px;
}

.add-btn {
  background-color: #4F873D;
  vertical-align: text-bottom;
}

.remove-btn {
  background-color: #cf291d;
  vertical-align: text-top;
}

.add-btn,
.remove-btn {
  width: 30px;
  height: 25px;
  border-radius: 5px;
  color: white;
}

.hoverable:hover {
  cursor: pointer;
}

.sort-by-img {
  height: 30px;
}

.header {
  display: inline-flex;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #monsters-table,
  #enemies-table {
    width: 80%;
  }
}
