#monsters-table,
#enemies-table {
  background-color: #bfbfbf;
  color: #131313;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  box-shadow: 0 0 10px #fff30f;
}

#monsters-table td,
#enemies-table td {
  border: 1px solid #1d1d1d;
}

.hoverable:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #monsters-table,
  #enemies-table {
    width: 75%;
  }
}
