body {
  margin: 0;
  font-family: Dungeon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  color: #fff30f;
}

@font-face {
  font-family: 'Enchanted Land';
  src: local('Enchanted Land'),
    url('./fonts/enchanted_land.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Dungeon';
  src: local('Dungeon'), url('./fonts/DUNGRG__.TTF') format('truetype');
  font-weight: normal;
}
